{% extends "base.html" %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
    <h1>Bienvenue sur le blog des crêpes bretonnes !</h1>
    <h2>Bienvenue (oui, vraiment !)</h2>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus 
       massa non tortor. Vestibulum diam diam, posuere in viverra in, 
       ullamcorper et libero. Donec eget libero quis risus congue imperdiet ac 
       id lectus. Nam euismod cursus arcu, et consequat libero ullamcorper sit 
       amet.
    </p>
    <a href="{% url "afficher_article" 42 %}">
    Lien vers mon super article N° 42
    </a>

	{% for article in derniers_articles %}
	    <div class="article">
	    	<h3>{{ article.titre }}</h3>
	    	<p>{{ article.contenu|truncatewords_html:80 }}</p>
	        <p><a href="{% url 'lire' article.id %}">Lire la suite</a>
	    </div>
	{% empty %}
	    <p>Aucun article à montrer.</p>
	{% endfor %}

{% endblock %}